# Halium modifications

# Halium errors
CONFIG_VT=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_EPOLL=y
CONFIG_PROC_FS=y
CONFIG_DUMMY=n
CONFIG_INOTIFY_USER=y
CONFIG_RD_GZIP=y
CONFIG_TIMERFD=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_SIGNALFD=y
CONFIG_QUOTACTL=y
CONFIG_SYSVIPC=y
CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_NLS_UTF8=y
CONFIG_SYSFS=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_COMPAT_VDSO=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=y

# Halium warnings
CONFIG_WATCHDOG_NOWAYOUT=n # Enable once there is dsme or an alternative
CONFIG_NET_NS=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_PID_NS=y
CONFIG_UDF_FS=y
CONFIG_NETFILTER_XT_MATCH_SCTP=y
CONFIG_NETFILTER_XT_CONNMARK=y
CONFIG_NETFILTER_XT_MATCH_RECENT=y
CONFIG_NETFILTER_XT_MATCH_ESP=y
CONFIG_NETFILTER_XT_MATCH_DCCP=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_UTS_NS=y
CONFIG_TMPFS_XATTR=y
CONFIG_BLK_CGROUP=y
CONFIG_FANOTIFY=y
CONFIG_CGROUP_PERF=y
CONFIG_CPUSETS=y
CONFIG_LBDAF=y
CONFIG_CGROUP_DEVICE=y
CONFIG_IPC_NS=y
CONFIG_NETPRIO_CGROUP=y
CONFIG_MEMCG_KMEM=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_SECURITY_YAMA=n # turn to y once production-ready
CONFIG_CGROUP_SCHEDTUNE=n
CONFIG_SCHED_TUNE=n
