# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y

# Touchscreen
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_SEC_TS=y

# Fingerprint
CONFIG_INPUT_FP_EGIS=y
CONFIG_ET580_USE_TIMER_SETUP=y

# NFC
CONFIG_NFC_PN553_DEVICES=y

# Sony Camera
CONFIG_SONY_CAMERA=y
CONFIG_CAMERA_SYNC=y
CONFIG_FLASH_LED=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# AMS TCS3490 Color driver
CONFIG_INPUT_TCS3490=y

# Hall sensor
CONFIG_INPUT_BU520X1NVX=y

# Enable both bahamut and griffin. This essentially
# it's the upstream diffconfig content
CONFIG_DRM_SDE_SPECIFIC_PANEL=y
CONFIG_HALL_SENSOR_NOT_USE_SWITCH=y
CONFIG_MACH_SONY_BAHAMUT=y
CONFIG_MACH_SONY_GRIFFIN=y
